:root {
    --bg: #0f172a;
    --accent: #38bdf8;
    --text: #f1f5f9;
    --hover: #0ea5e9;
    --button: #f83838;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
ul li a:hover{
    background-color: rgba(56, 189, 248, 0.15);
}